{% extends '../core/index.html' %}
{% load static %}
{% block content %}
<style>
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-card {
        width: 100%;
        max-width: 700px;
        padding: 40px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }




    .btn-primary:hover {
        background-color: #2a7a6b;
    }

    .login-card h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
    }

    .login-card p {
        color: #666;
        margin-bottom: 30px;
    }
</style>
<div class="login-container">
    {% if next %}
    {% if user.is_authenticated %}
    <p> Vous n'avez pas acces a la page d'accueil, veuillez d'abord vous connectez. Puisque votre compte n'a pas
        encore droit l'acces
    </p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <div class="login-card">

        <form method="POST">
            <img src="{% static 'assets/img/logokcs.jpg' %}"
                style="max-width: 150px; max-height: 100px; object-fit: fill; " alt="Logo Institution" class="logo">
            {% csrf_token %}
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
           {% endif %}
            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <h2>Creer un compte Gestion-Loyer</h2>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="register-email">Votre nom complet</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" required>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="form-group">
                            <label for="register-email">Votre adresse e-mail *</label>
                            <input type="email" class="form-control" id="register-email" name="email" required>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="form-group">
                            <label for="register-password">Confirmer le mot de passe *</label>
                            <input type="password" class="form-control" id="register-password" name="password2"
                                required>
                        </div>
                    </div>

                    <div class="col-6 mt-2">
                        <div class="form-group">
                            <label for="register-password">Mot de passe *</label>
                            <input type="password" class="form-control" id="register-password" name="password1"
                                required>
                        </div>
                    </div>
                    <hr>
                    <div class="col-12 mt-2">
                        <div class="custom-control custom-checkbox mt-3">
                            <input type="checkbox" class="custom-control-input" id="register-policy" required>
                            <label class="custom-control-label" for="register-policy">J'accepte la
                                <a href="#">politique de confidentialité</a> *</label>
                        </div>
                        <button type="submit" class="btn btn-secondary">
                            <span>S'INSCRIRE</span>
                            <i class="icon-long-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
    </div>




    <style>
        .input {
            text-align: center;
        }
    </style>
    </form>
</div>

{% endblock content %}