{% extends './index.html' %}

{% block location %}
<form id="vehiculeSelectionForm" method="POST">
    {% csrf_token %}
    <div class="card min-vh-75">

        <div class="card-header d-flex justify-content-between">
            <a href="{% url 'locations' %}"> <i class="fa fa-arrow-circle-left text-secondary"
                    style="font-size: 30px;" aria-hidden="true"></i></a>
            <h3 class="text-center text-secondary">Enregistrer un paiement</h3>
        </div>

        <div class="card-body">
            <div>
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger small" role="alert">
                    {{field.name}} : {{ error }}!
                </div>
                {% endfor %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="row">  
                
                {% for reservation in reservations  %} 
                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <label class="form-label">{{reservation.vehicule.modele}} {{reservation.vehicule.marque.nom}}<br> 
                        Période: {{reservation.dateDebut}}--{{reservation.dateFin}} 
                        <br>
                        Prix:{{reservation.vehicule.prix}}$ <br>
                        Nombre des jours: {{reservation.get_number_of_days}}<br>
                        Total price/Tous les jours : {{reservation.calculate_total_price}} $
                        </label>
                        <div class="row">
                            <div class="col-6">
                                <label class="imagecheck mb-4">
                                <input
                                    name="imagecheck"
                                    type="checkbox"
                                    value="{{reservation.id}}"
                                    class="imagecheck-input"
                                />
                                <figure class="imagecheck-figure">
                                    <img
                                    src="{{reservation.vehicule.get_image}}"
                                    alt="title"
                                    class="imagecheck-image"
                                    />
                                </figure>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a href="{% url 'locations' %}" class="btn btn-danger">Annuler</a>
            <button type="submit" class="btn btn-secondary"> <i class="fa fa-plus" aria-hidden="true"></i>
                Reserver</button>
        </div>

</div>
</form>

{% endblock location %}