<div class="mt-4 profildeDetails" style="min-height: 500px;">

    <div class="row">
        <div class="">  
            <img style="max-width: 100px; max-height: 100px;"  src="{{user.get_avatar_url}}" class="img-fluid img-circle rounded-circle" alt="">
        </div>
        <div class=""> 
            <h5>Adresse email : <span> {{user.email}}   </span>  </h5>
            <h5>Noms : <span> {{request.user.first_name}} {{request.user.last_name}}   </span>  </h5>
            <h5>Role : <span>{{user.role}}</span></h5> 
        </div> 
    </div>
</div>

<style>
.profildeDetails span{
    color: rgb(75, 75, 197);
}
</style>