{% extends "../vehicules.html" %} {% load static %}
{% block vehiculeBlock %}
<div class="card">
    <div class="card-header">
        <div class="row d-flex justify-content-between">
            <div class="col-4">
                <h2> <a href="{% url 'vehicules' %}" class="text-secondary"><i class="fa fa-arrow-circle-left"
                            aria-hidden="true"></i> </a></h2>
            </div>
            <div class="col-8 text-start">
                <h2 class="text-secondary">Editer le vehicule : {{vehicule.numeroPlaque}} #{{vehicule.marque.nom}} </h2>
            </div>
        </div>
    </div>
    <div class="card-body">

        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="row mb-1">
                <div class="form-group col-md-6">
                    <label for="">Numero Plaque</label>
                    <input required type="text" class="form-control" value="{{vehicule.numeroPlaque}}"
                        name="numeroPlaque" id="numeroPlaque" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Ex:XXL123</small>
                </div>
                <div class="form-group col-md-6">
                    <label for="marque">Marque</label>
                    <select required class="form-control" name="marque" id="marque">
                        <option>Selectionner</option>
                        {% for ma in marques %}

                        {% if ma.id == vehicule.marque.id %}
                        <option value="{{ma.id}}" selected>{{ma.nom}}</option>
                        {% else %}
                        <option value="{{ma.id}}">{{ma.nom}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="prix">Prix</label>
                    <input type="text" class="form-control" value="{{vehicule.prix}}" name="prix" id="prix"
                        placeholder="prix">
                </div>
                <div class="form-group col-md-6">
                    <label for="">Modele</label>
                    <input type="text" class="form-control" value="{{vehicule.modele}}" name="modele" id="modele"
                        placeholder="modele">
                </div>
                <div class="form-group col-md-6">
                    <label for="">Annee Achat</label>
                    <input class="form-control" name="anneeAchat" value="{{vehicule.anneeAchat}}" min="2000"
                        type="number" id="anneeAchat" required />
                </div>

                <div class="form-group col-md-6">
                    <label for="">Couleur</label>
                    <input type="text" class="form-control" value="{{vehicule.couleur}}" name="couleur" id="couleur"
                        aria-describedby="helpId" placeholder="">
                </div>
                <div class="form-group col-md-6 row">
                    <div class="col-12">
                        <label for="poids">Poids</label>
                    <input type="text" class="form-control" value="{{vehicule.poids}}" name="poids" id="poids"
                        aria-describedby="helpId" placeholder="poids">
                    <small id="helpId" class="form-text text-muted">1 Tonne</small>
                    </div>
                    <div class="col-12">
                        <label for="poids">Motorisation</label>
                        <input type="text" class="form-control" value="{{vehicule.motorisation}}" name="motorisation"
                            id="motorisation" placeholder="Motorisation">
                    </div>
                    <div class="col-12">
                        <label for="">Changer l'image ici</label>
                        <input type="file" class="form-control" name="image" id="image"
                            placeholder="Inserer limage du vehicule" aria-describedby="fileHelpId">
                    </div>
                </div>
                <div class="form-group col-md-4 m-4">
                    <div>
                        <label for="">Image vehicule</label>
                    </div>
                    <img src="{{vehicule.get_image}}" class="w-50" alt="Image non dispobible">
                </div>

                <div class="col-md-12 mt-2 ">
                    {% csrf_token %}
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger small" role="alert">
                        {{field.name}} : {{ error }}!
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% endif %}
                </div>
                <hr>
                <div class="col-md-12 justify-content-center align-content-center d-flex">
                    <button type="submit" class="btn btn-secondary text-center">Envoyer</button>
                </div>
            </div>

        </form>
    </div>
</div>



{% endblock vehiculeBlock %}