{% extends "../core/index.html" %} {% load static %} {% block content %}
<div class="container">
    <div class="page-inner">
        <div class="page-header mb-0 d-flex justify-content-between">
            <h2 class="fw-bold mb-1 text-secondary">Mes locations</h2>

            {% if not request.resolver_match.url_name == 'ajout_contrat_des_reservations' %}
            <a class="btn btn-secondary mb-1" href="{% url 'ajout_contrat_des_reservations' %}"> <i class="fa fa-plus-circle"
                    aria-hidden="true"></i> Commander</a>
            {% endif %}

        </div>

        {% block location %}
        <div class="card">
            <div class="card-header">
                <div class="mt-2">
                    {% if messages %}
                    <ul class="list-group">
                        {% for message in messages %}
                        <li class="{{ message.tags }} list-group-item alert alert-info">{{ message }}</li>
                        <script>
                            $(".alert").alert();
                        </script>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="row mt-lg-1 search-row">
                    <form method="GET" action="{% url 'locations' %}" class="row">
                        <div class="col-lg-2 col-12">
                            <button type="submit" class="btn btn-secondary"> <i class="fa fa-search"
                                    aria-hidden="true"></i> Rechercher</button>
                        </div> 

                        <div class="col-lg-2 col-sm-3 col-5 mb-sm-1">
                            <input type="date" id="debutDate" name="debutDate" class="form-control form-control"
                                value="{{ filters.debutDate }}">
                        </div>
                        <div class="col-1 mt-md-2 mb-sm-1 text-center">
                            <span> -- </span>
                        </div>

                        <div class="col-lg-2 col-sm-3 col-5">
                            <input type="date" id="dateFin" name="dateFin" class="form-control form-control"
                                value="{{ filters.dateFin }}">
                        </div>

                        <div class="col-lg-4 col-6">
                            <select name="type" id="type" class="form-select form-control selectOption">
                                <option value="">Par commande</option>
                                <option value="">Par locations</option>
                                
                            </select>
                        </div>

                    </form>
                </div>

            </div>

            <div class="card-body table-responsive">
                <table class="table table-responsive">

                    <thead class="table-secondary">
                        <th>#</th>
                        <th>Date contrat</th>
                        <th>Description</th>
                        <th>Montat-total</th>
                        <th>Etat commande</th>
                        <th>Actions</th>
                    </thead>

                    <tbody>
                        {% for location in enlocations %}
                        <tr>
                            <td>{{location.id}}</td>
                            <td>{{location.date_signature}}</td>
                            <td>{{location.description}}</td>
                            <td>{{location.montant_total}}$</td> 
                            
                            {% if location.pret %}
                            <td>facture deja elaborée</td>
                            {% else %}
                            <td>commande recue</td>
                            {% endif %}
                            <td class=""> 
                                <div class="form-button-action">
                                    <a href="{% url 'generate_pdf_contrat_commande' location.id  %}">
                                    <button type="button"  title="telecharger la facture qui reprend les reserves sur la facture"
                                        class="btn btn-link btn-danger btn-lg">
                                        <i class="fa fa-download"></i>
                                    </button>
                                </a>
                                </div>
                                <div class="form-button-action">
                                    <button type="button" class="btn btn-link btn-info btn-lg toggle-details"
                                        data-location-id="{{ location.id }}">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr class="reservation-details table-light" id="details-{{ location.id }}"
                            style="display: none;">
                            <td colspan="6" class="mt-2">
                                <h6>Details Contrat #{{ location.id }}:</h6>
                                <div class="d-flex gap-1">
                                    {% for reservation in location.reservation.all %}
                                    <div class="col-6">
                                        <div>Vehicule :{{ reservation.vehicule.modele }} </div>
                                        <div>Vehicule :{{ reservation.vehicule.marque }} </div>
                                        <div>Date de debut reservation :{{ reservation.dateFin }} </div>
                                        <div>Date de fin :{{ reservation.dateDebut }} </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
        {% endblock location %}

    </div>
</div>

<script>
    $(document).ready(function () {
        $('.toggle-details').click(function () {
            var locationId = $(this).data('location-id');
            $('#details-' + locationId).toggle();
            $(this).find('i').toggleClass('fa-chevron-down fa-chevron-up');
        });
    });
</script>

{% endblock content %}