{% extends "../core/index.html" %} {% load static %} {% block content %}
<div class="container">
    <div class="page-inner">
        <div class="page-header mb-0">
            <h3 class="fw-bold mb-1">Gestion locataires</h3>
        </div>
        <div class="row">
            {% if messages %}
            <ul class="list-group">
                {% for message in messages %}
                <li class="{{ message.tags }} list-group-item alert alert-warning">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% block locataireBlock %} 

            <div class="col-md-12">
                <div class="card shadow-none" style="background-color: inherit;">
                    <div class="card-header d-flex justify-content-between">
                                <div class="m-0">
                                    <h4>Locataires</h4>
                                </div>
                                <div class="m-0">
                                    <a href="{% url 'creerlocataire' %}" class="text-white">
                                        <button class="btn btn-secondary btn-round">
                                            <i class="fa fa-plus" title='ajouter une nouvelle option option'></i> Creer
                                        </button>
                                    </a>
                                </div>
                    </div>
                    <div class="card-body">
                       
                        <div class="tab-content mt-2 mb-3" id="pills-without-border-tabContent">
                            <table class="display-1 table-responsive table mt-2 table-head-bg-secondary">
                                <thead>
                                    <tr>
                                        <th>Nom complet</th>
                                        <th>Email</th>
                                        <th>Adresse</th>
                                        <th>Numero Tel</th>
                                        <th>Date de creation/compte</th>
                                        <th class='text-center'>Actions</th>
                                    </tr> 
                                </thead>
                                <tbody>
                                    {% for locataire in locataires %}
                                    <tr>
                                        <td>{{locataire.first_name}} {{locataire.last_name}}</td> 
                                        <td>{{locataire.email}}</td>
                                        <td>{{locataire.adresse}}</td>
                                        <td>{{locataire.numeroTel}}</td>
                                        <td>{{locataire.created_at}}</td>
                                      
                                        <td class='text-center'>
                                            <a href="{% url 'editerlocataire' locataire.id %}">
                                                <button class="btn btn-primary ms-auto btn-sm" type="submit">
                                                    <i class="fa fa-edit text-light"></i>
                                                </button>
                                            </a>
                                            <button class="btn btn-danger btn-sm supprimerLocataire" type="submit" data-id="{{locataire.id}}">
                                                <i class="fa fa-trash text-light "></i>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock locataireBlock %}
            
        </div>
    </div>
</div>
<script text="text-javascript">
    $(".supprimerLocataire").click(function (e) { 
        e.preventDefault();
        if(confirm('Voulez vraiment supprimer ce locataire ?')){
            var id = $(this).attr('data-id');
            var url = `/comptes/locataires/supprimer/${id}/`; 
            window.location.href = url;
        }
    });
</script>
{% endblock content %}